body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; /* Replace with any color you want */
}

.container {
  text-align: center;
}

h1 {
  font-size: 24px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50px; /* Adjust the top position to your preference */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
